<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="Demonstrate how AI integration optimizes user experience and engagement on an e-commerce website."
  />
  <meta
    name="keywords"
    content="AI, e-commerce, recommendation engine, optimization, user experience, machine learning"
  />
  <meta name="author" content="Aldo Grabić" />
  <link rel="stylesheet" href="css/output.css" />
  <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet"
  />
  <script src="//unpkg.com/alpinejs" defer></script>
</head>
