<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Error 404 | SmartPick</title>
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <main>
      <div
        class="container flex justify-center items-center gap-24 mx-auto p-6 mt-24"
      >
        <img
          th:src="@{/img/error-404-illustration.svg}"
          alt="Error 404 illustration"
          class="w-96"
        />
        <div class="md:text-lg flex-1 gap-8 flex flex-col">
          <h1 class="md:text-6xl">PAGE NOT FOUND</h1>
          <p>
            Looks like you've hit a dead end. Our system couldn't locate the
            requested page. Please double-check the URL for any typos or click
            below to return to the main dashboard.
          </p>
          <a href="/user-dashboard" class="button w-fit">Return to Dashboard</a>
        </div>
      </div>
    </main>
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
