<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Error 403 | SmartPick</title>
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <main>
      <div
        class="container flex justify-center items-center gap-24 mx-auto p-6 mt-24"
      >
        <img
          th:src="@{/img/error-403-illustration.svg}"
          alt="Error 403 illustration"
          class="w-96"
        />
        <div class="md:text-lg flex-1 gap-8 flex flex-col">
          <h1 class="md:text-6xl">ACCESS DENIED</h1>
          <p>
            Oops! It seems like you don't have permission to access this page.
            If you believe this is an error, please contact the support.
          </p>
          <div class="flex items-center gap-4">
            <a href="/user-dashboard" class="button w-fit"
              >Return to Dashboard</a
            >
            <a href="/contact-us" class="w-fit link">Contact support &rarr;</a>
          </div>
        </div>
      </div>
    </main>
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
