<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Checkout | SmartPick</title>
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <th:block
      th:insert="~{fragments/successMessage :: successMessage}"
    ></th:block>
    <th:block th:insert="~{fragments/errorMessage :: errorMessage}"></th:block>
    <main>
      <div class="container flex flex-col gap-8 mx-auto p-6">
        <div class="flex justify-between">
          <h1>Checkout</h1>
          <div class="flex items-center gap-8">
            <p class="text-sm text-gray-600">
              Order Total:
              <span
                th:text="${estimatedTotal + ' EUR'}"
                class="text-2xl text-black"
              ></span>
            </p>
            <button class="button w-64">Place Order</button>
          </div>
        </div>
        <hr />
        <div class="grid grid-cols-2 gap-8">
          <div>
            <h2>Your information</h2>
            <hr />
          </div>
          <div>
            <h2>Shipping Address</h2>
            <hr />
          </div>
          <div>
            <h2>Payment</h2>
            <hr />
          </div>
          <div>
            <h2>Billing Address</h2>
            <hr />
          </div>
        </div>
        <div></div>
      </div>
    </main>
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
