<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Contact Us | SmartPick</title>
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <main>
      <div
        class="container flex justify-center items-center gap-24 mx-auto p-6 mt-24"
      >
        <img src="img/contact-us-illustration.svg" alt="" class="w-1/2" />

        <div class="flex flex-col gap-8">
          <h1>CONTACT US</h1>
          <form
            action="/contact-us"
            method="post"
            class="flex flex-col gap-8 mx-auto"
          >
            <div class="relative">
              <input
                type="text"
                id="name"
                name="name"
                class="peer"
                placeholder=" "
                autocomplete="name"
              />
              <label
                for="name"
                class="peer-focus:text-cyan-800 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
                >Name</label
              >
            </div>

            <div class="relative">
              <input
                type="email"
                id="email"
                name="email"
                class="peer"
                placeholder=" "
                autocomplete="email"
              />
              <label
                for="email"
                class="peer-focus:text-cyan-800 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
                >E-mail address</label
              >
            </div>

            <div class="relative">
              <textarea
                id="message"
                name="message"
                rows="5"
                class="peer resize-none"
                placeholder=" "
              ></textarea>

              <label
                for="message"
                class="peer-focus:text-cyan-800 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
                >Message</label
              >
            </div>

            <input type="submit" value="Send a message" />
          </form>
        </div>
      </div>
    </main>
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
