<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>SmartPick - E-Commerce Recommender</title>
    <script th:src="@{/js/emblaCarousel.js}"></script>
    <script
      src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"
      defer
    ></script>
    <script
      src="https://unpkg.com/embla-carousel-autoplay/embla-carousel-autoplay.umd.js"
      defer
    ></script>
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <th:block
      th:insert="~{fragments/successMessage :: successMessage}"
    ></th:block>
    <th:block th:insert="~{fragments/errorMessage :: errorMessage}"></th:block>
    <main>
      <div class="embla">
        <div class="embla__container">
          <div class="embla__slide relative">
            <img src="img/banner-1.webp" class="hidden md:block" />
            <img src="img/banner-1-mobile.png" class="md:hidden" />
            <a
              href="/products"
              class="button absolute bottom-64 md:bottom-32 left-28 md:left-[13.3rem]"
              >Explore Now</a
            >
          </div>
          <div class="embla__slide relative">
            <img src="img/banner-2.webp" class="hidden md:block" />
            <img src="img/banner-2-mobile.png" class="md:hidden" />
            <a
              href="/products"
              class="button absolute bottom-60 md:bottom-40 left-4 md:left-[13.3rem]"
              >Show Now</a
            >
          </div>
        </div>
      </div>

      <div class="container flex flex-col md:gap-12 mx-auto p-6">
        <h1 class="text-center pt-12">Discover more for</h1>
        <div
          class="grid md:grid-cols-3 justify-center gap-20 md:gap-8 mx-auto py-6 text-xl w-full"
        >
          <a
            href="/products/men"
            class="border rounded-lg shadow-lg bg-blue-50"
          >
            <img src="img/man.png" alt="" class="h-full mx-auto" />
            <p class="text-center mt-4 text-3xl font-semibold">MEN</p>
          </a>
          <a
            href="/products/women"
            class="border shadow-lg rounded-lg bg-pink-50"
          >
            <img src="img/woman.png" alt="" class="h-full mx-auto" />
            <p class="text-center mt-4 text-3xl font-semibold">WOMEN</p>
          </a>
          <a
            href="/products/children"
            class="border shadow-lg rounded-lg bg-yellow-50"
          >
            <img src="img/children.png" alt="" class="h-full mx-auto" />
            <p class="text-center mt-4 text-2xl font-semibold">CHILDREN</p>
          </a>
        </div>
        <div>
          <h1 class="my-8">New Arrivals</h1>
          <div class="grid md:grid-cols-5 gap-8">
            <div class="border shadow-lg rounded-lg w-64 h-full">
              <div class="relative">
                <img
                  src="img/shirt-placeholder.webp"
                  alt=""
                  class="rounded-t-lg h-2/3 w-full"
                />
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="w-6 h-6 absolute top-2 right-2 text-gray-400"
                >
                  <path
                    d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"
                  />
                </svg>
              </div>
              <div class="p-2">
                <p>Majica kratkih rukava</p>
                <p>24.99 EUR</p>
              </div>
            </div>
            <div class="border shadow-lg rounded-lg w-64 h-full">
              <div class="relative">
                <img
                  src="img/shirt-placeholder.webp"
                  alt=""
                  class="rounded-t-lg h-2/3 w-full"
                />
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="w-6 h-6 absolute top-2 right-2 text-gray-400"
                >
                  <path
                    d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"
                  />
                </svg>
              </div>
              <div class="p-2">
                <p>Majica kratkih rukava</p>
                <p>24.99 EUR</p>
              </div>
            </div>
            <div class="border shadow-lg rounded-lg w-64 h-full">
              <div class="relative">
                <img
                  src="img/shirt-placeholder.webp"
                  alt=""
                  class="rounded-t-lg h-2/3 w-full"
                />
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="w-6 h-6 absolute top-2 right-2 text-gray-400"
                >
                  <path
                    d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"
                  />
                </svg>
              </div>
              <div class="p-2">
                <p>Majica kratkih rukava</p>
                <p>24.99 EUR</p>
              </div>
            </div>
          </div>
        </div>

        <h1>Best Sellers</h1>
        <div class="grid md:grid-cols-5 gap-8">
          <div class="border shadow-lg rounded-lg w-64 h-full">
            <div class="relative">
              <img
                src="img/shirt-placeholder.webp"
                alt=""
                class="rounded-t-lg h-2/3 w-full"
              />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-6 h-6 absolute top-2 right-2 text-gray-400"
              >
                <path
                  d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"
                />
              </svg>
            </div>
            <div class="p-2">
              <p>Majica kratkih rukava</p>
              <p>24.99 EUR</p>
            </div>
          </div>
          <div class="border shadow-lg rounded-lg w-64 h-full">
            <div class="relative">
              <img
                src="img/shirt-placeholder.webp"
                alt=""
                class="rounded-t-lg h-2/3 w-full"
              />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-6 h-6 absolute top-2 right-2 text-gray-400"
              >
                <path
                  d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"
                />
              </svg>
            </div>
            <div class="p-2">
              <p>Majica kratkih rukava</p>
              <p>24.99 EUR</p>
            </div>
          </div>
          <div class="border shadow-lg rounded-lg w-64 h-full">
            <div class="relative">
              <img
                src="img/shirt-placeholder.webp"
                alt=""
                class="rounded-t-lg h-2/3 w-full"
              />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-6 h-6 absolute top-2 right-2 text-gray-400"
              >
                <path
                  d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"
                />
              </svg>
            </div>
            <div class="p-2">
              <p>Majica kratkih rukava</p>
              <p>24.99 EUR</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
