<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>SmartPick - E-Commerce Recommender</title>
    <script th:src="@{/js/emblaCarousel.js}"></script>
    <script
      src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"
      defer
    ></script>
    <script
      src="https://unpkg.com/embla-carousel-autoplay/embla-carousel-autoplay.umd.js"
      defer
    ></script>
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <th:block
      th:insert="~{fragments/successMessage :: successMessage}"
    ></th:block>
    <div
      th:if="${param.success}"
      id="toast-success"
      class="absolute right-0 z-30 flex items-center w-full p-4 mb-4 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
      role="alert"
      x-data="{ successMessage: true }"
      x-show="successMessage"
      x-init="setTimeout(() => {successMessage = false; history.replaceState({}, document.title, window.location.pathname); }, 5000)"
      x-transition:enter="transition ease-out duration-300"
      x-transition:enter-start="opacity-0 transform translate-y-4"
      x-transition:enter-end="opacity-100 transform translate-y-0"
      x-transition:leave="transition ease-in duration-300"
      x-transition:leave-start="opacity-100 transform translate-y-0"
      x-transition:leave-end="opacity-0 transform translate-y-4"
    >
      <div
        class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200"
      >
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
          />
        </svg>
        <span class="sr-only">Check icon</span>
      </div>
      <div class="ms-3">Welcome to SmartPick!</div>
      <button
        type="button"
        @click="successMessage = false"
        class="ms-auto -mx-1.5 -my-1.5 bg-white rounded-lg p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
        data-dismiss-target="#toast-success"
        aria-label="Close"
      >
        <span class="sr-only">Close</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
    <div
      th:if="${param.successLogout}"
      id="toast-success"
      class="absolute right-0 z-30 flex items-center w-full p-4 mb-4 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
      role="alert"
      x-data="{ successMessage: true }"
      x-show="successMessage"
      x-init="setTimeout(() => {successMessage = false; history.replaceState({}, document.title, window.location.pathname); }, 5000)"
      x-transition:enter="transition ease-out duration-300"
      x-transition:enter-start="opacity-0 transform translate-y-4"
      x-transition:enter-end="opacity-100 transform translate-y-0"
      x-transition:leave="transition ease-in duration-300"
      x-transition:leave-start="opacity-100 transform translate-y-0"
      x-transition:leave-end="opacity-0 transform translate-y-4"
    >
      <div
        class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200"
      >
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
          />
        </svg>
        <span class="sr-only">Check icon</span>
      </div>
      <div class="ms-3">
        You've been successfully logged out. Have a great day!
      </div>
      <button
        type="button"
        @click="successMessage = false"
        class="ms-auto -mx-1.5 -my-1.5 bg-white rounded-lg p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
        data-dismiss-target="#toast-success"
        aria-label="Close"
      >
        <span class="sr-only">Close</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
    <th:block th:insert="~{fragments/errorMessage :: errorMessage}"></th:block>
    <th:block th:insert="~{fragments/infoMessage :: infoMessage}"></th:block>
    <main>
      <div class="embla">
        <div class="embla__container">
          <div class="embla__slide relative">
            <img src="img/banner-1.webp" class="hidden md:block" />
            <img src="img/banner-1-mobile.png" class="md:hidden" />
            <a
              href="/products"
              class="button absolute bottom-64 md:bottom-32 left-28 md:left-[13.3rem]"
              >Explore Now</a
            >
          </div>
          <div class="embla__slide relative">
            <img src="img/banner-2.webp" class="hidden md:block" />
            <img src="img/banner-2-mobile.png" class="md:hidden" />
            <a
              href="/products"
              class="button absolute bottom-60 md:bottom-40 left-4 md:left-[13.3rem]"
              >Show Now</a
            >
          </div>
        </div>
      </div>

      <div class="container flex flex-col md:gap-12 mx-auto p-6">
        <h1 class="text-center pt-12">Discover more for</h1>
        <div
          class="grid md:grid-cols-3 justify-center gap-20 md:gap-8 mx-auto py-6 text-xl w-full"
        >
          <a
            href="/products/men"
            class="border rounded-lg shadow-lg bg-blue-50"
          >
            <img src="img/man.png" alt="" class="h-full mx-auto" />
            <p class="text-center mt-4 text-3xl font-semibold">MEN</p>
          </a>
          <a
            href="/products/women"
            class="border shadow-lg rounded-lg bg-pink-50"
          >
            <img src="img/woman.png" alt="" class="h-full mx-auto" />
            <p class="text-center mt-4 text-3xl font-semibold">WOMEN</p>
          </a>
          <a
            href="/products/children"
            class="border shadow-lg rounded-lg bg-yellow-50"
          >
            <img src="img/children.png" alt="" class="h-full mx-auto" />
            <p class="text-center mt-4 text-2xl font-semibold">CHILDREN</p>
          </a>
        </div>
        <div>
          <h1 class="my-8">New Arrivals</h1>
          <div class="grid md:grid-cols-5 gap-8">
            <div
              th:each="product : ${lastAddedProducts}"
              class="border shadow-lg rounded-lg h-full"
            >
              <a
                th:href="'/products/' + ${product.gender.toLowerCase()} + '/' + ${product.category.categoryName.toLowerCase()} + '/' + ${product.productId}"
              >
                <div class="relative">
                  <div class="p-2">
                    <img
                      th:src="@{/img/shirt-placeholder.webp}"
                      th:alt="${product.name}"
                      class="rounded-lg"
                    />
                  </div>
                  <form action="/toggleSaveProductForUser" method="post">
                    <div
                      class="absolute top-4 right-4 bg-white w-7 h-7 rounded-full flex justify-center items-center"
                    >
                      <input
                        type="hidden"
                        name="productId"
                        th:value="${product.productId}"
                      />

                      <button type="submit">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                          fill="currentColor"
                          th:style="'color: ' + (${savedStatusMap[product.productId]} ? '#d11a2a' : '#9CA3AF')"
                          class="w-4"
                        >
                          <path
                            d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"
                          />
                        </svg>
                      </button>
                    </div>
                  </form>
                </div>
                <div class="p-2">
                  <p
                    class="text-xl font-semibold pb-2"
                    th:text="${product.name}"
                  ></p>
                  <p th:text="${product.price + ' EUR'}"></p>
                </div>
              </a>
            </div>
          </div>
        </div>

        <h1>Best Sellers</h1>
        <div class="grid md:grid-cols-5 gap-8">
          <div class="border shadow-lg rounded-lg w-64 h-full">
            <div class="relative">
              <img
                src="img/shirt-placeholder.webp"
                alt=""
                class="rounded-t-lg h-2/3 w-full"
              />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-6 h-6 absolute top-2 right-2 text-gray-400"
              >
                <path
                  d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"
                />
              </svg>
            </div>
            <div class="p-2">
              <p>Majica kratkih rukava</p>
              <p>24.99 EUR</p>
            </div>
          </div>
          <div class="border shadow-lg rounded-lg w-64 h-full">
            <div class="relative">
              <img
                src="img/shirt-placeholder.webp"
                alt=""
                class="rounded-t-lg h-2/3 w-full"
              />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-6 h-6 absolute top-2 right-2 text-gray-400"
              >
                <path
                  d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"
                />
              </svg>
            </div>
            <div class="p-2">
              <p>Majica kratkih rukava</p>
              <p>24.99 EUR</p>
            </div>
          </div>
          <div class="border shadow-lg rounded-lg w-64 h-full">
            <div class="relative">
              <img
                src="img/shirt-placeholder.webp"
                alt=""
                class="rounded-t-lg h-2/3 w-full"
              />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-6 h-6 absolute top-2 right-2 text-gray-400"
              >
                <path
                  d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"
                />
              </svg>
            </div>
            <div class="p-2">
              <p>Majica kratkih rukava</p>
              <p>24.99 EUR</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
