<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Login | SmartPick</title>
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <main>
      <div class="container flex items-center flex-col gap-8 mx-auto p-6">
        <h1>LOGIN</h1>
        <form action="/login" method="post" class="flex flex-col gap-8 mx-auto">
          <div class="relative">
            <input
              type="text"
              id="floating_filled"
              class="peer"
              placeholder=" "
            />
            <label
              for="floating_filled"
              class="peer-focus:text-cyan-800 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
              >Username</label
            >
          </div>

          <div class="relative">
            <input
              type="password"
              id="floating_filled"
              class="peer"
              placeholder=" "
            />
            <label
              for="floating_filled"
              class="peer-focus:text-cyan-800 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
              >Password</label
            >
          </div>
          <input type="submit" value="Login" />
        </form>
        <p class="text-lg">
          Don't have an account?
          <a href="/registration" class="text-cyan-800 font-semibold"
            >Sign In</a
          >
        </p>
      </div>
    </main>
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
