<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Order Confirmation | SmartPick</title>
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <main>
      <div class="container flex flex-col gap-8 mx-auto p-6">
        <h1>Thank you for your order</h1>
        <hr />
        <div class="grid grid-cols-2">
          <img src="img/order-confirmation.svg" alt="" class="w-96" />
          <div class="text-xl space-y-16">
            <div class="text-2xl">
              <p>
                An email containing the specifics of your order has been sent
                to:
              </p>
              <p th:text="${userEmail}" class="mt-4 font-semibold"></p>
            </div>
            <div class="space-y-4">
              <p th:text="${'Order ID: ' + order.orderId}"></p>
              <p th:text="${'Order total: ' + estimatedTotal}"></p>
              <p th:text="${'Order date: ' + order.orderDate}"></p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
