<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Order Confirmation | SmartPick</title>
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <th:block
      th:insert="~{fragments/successMessage :: successMessage}"
    ></th:block>
    <th:block th:insert="~{fragments/errorMessage :: errorMessage}"></th:block>
    <main>
      <div class="container flex flex-col gap-8 mx-auto p-6">
        <h1>Thank you for your order</h1>
        <hr />
        <div class="md:flex gap-24">
          <img
            src="img/order-confirmation.svg"
            alt=""
            class="md:w-1/3 pointer-events-none"
          />
          <div class="flex flex-col text-xl space-y-16 md:w-2/3">
            <div class="text-2xl">
              <p>
                An email containing the specifics of your order has been sent
                to:
              </p>
              <p th:text="${userEmail}" class="mt-4 font-semibold"></p>
            </div>
            <div class="space-y-4">
              <p th:text="${'Order ID: ' + order.orderId}"></p>
              <p th:text="${'Order total: ' + order.orderTotal + ' EUR'}"></p>
              <p
                th:text="${'Order date: ' + #dates.format(order.orderDate, 'dd.MM.yyyy HH:mm')}"
              ></p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
