<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title th:text="${product.name} + ' | SmartPick'"></title>
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <th:block
      th:insert="~{fragments/successMessage :: successMessage}"
    ></th:block>
    <th:block th:insert="~{fragments/errorMessage :: errorMessage}"></th:block>
    <th:block th:insert="~{fragments/infoMessage :: infoMessage}"></th:block>
    <main>
      <div class="container flex flex-col gap-8 mx-auto p-6">
        <div class="md:flex gap-24">
          <nav class="text-gray-600 text-base block md:hidden mb-4">
            <a href="/">Home</a>
            &rsaquo;
            <a href="/products">Products</a>
            &rsaquo;
            <a
              th:href="'/products/' + ${product.gender.toLowerCase()}"
              th:text="${product.gender}"
            ></a>
            &rsaquo;
            <a
              th:href="'/products/' + ${product.gender.toLowerCase()} + '/' + ${product.category.categoryName.toLowerCase()}"
              th:text="${product.category.categoryName}"
            ></a>
          </nav>
          <img th:src="${product.image}" alt="" class="rounded-xl md:w-1/4" />
          <div class="flex flex-col gap-8 text-lg md:w-3/4 mt-4 md:mt-0">
            <nav class="text-gray-600 text-base hidden md:block">
              <a href="/">Home</a>
              &rsaquo;
              <a href="/products">Products</a>
              &rsaquo;
              <a
                th:href="'/products/' + ${product.gender.toLowerCase()}"
                th:text="${product.gender}"
              ></a>
              &rsaquo;
              <a
                th:href="'/products/' + ${product.gender.toLowerCase()} + '/' + ${product.category.categoryName.toLowerCase()}"
                th:text="${product.category.categoryName}"
              ></a>
            </nav>
            <p th:text="${product.name}" class="text-4xl font-semibold"></p>
            <div class="flex gap-2">
              <p
                th:text="${product.price + ' EUR'}"
                class="text-[#d11a2a] text-2xl"
              ></p>
              <p
                th:text="${#numbers.formatDecimal(product.price * 1.5, 1, 2) + ' EUR'}"
                class="self-end line-through text-base"
              ></p>
            </div>
            <p th:text="${'Color: ' + product.color}"></p>
            <p th:text="${'Size: ' + product.size}"></p>
            <p th:text="${'Description: ' + product.description}"></p>
            <div class="md:flex items-center gap-4 space-y-4 md:space-y-0">
              <form action="/putProductInShoppingCartForUser" method="post">
                <input
                  type="hidden"
                  name="productId"
                  th:value="${product.productId}"
                />
                <button
                  type="submit"
                  class="button flex justify-center gap-2 w-96"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
                    />
                  </svg>
                  Add to cart
                </button>
              </form>
              <button
                class="secondaryButton flex items-center gap-2 w-full md:w-fit justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
                  />
                </svg>
                Save
              </button>
            </div>
          </div>
        </div>
        <div class="my-8">
          <h2 class="mb-8">Similar products</h2>
          <div class="grid md:grid-cols-5 gap-8">
            <div class="border shadow-lg rounded-lg w-64 h-full">
              <div class="relative">
                <img
                  th:src="@{/img/shirt-placeholder.webp}"
                  alt=""
                  class="rounded-t-lg h-2/3 w-full"
                />
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="w-6 h-6 absolute top-2 right-2 text-gray-400"
                >
                  <path
                    d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"
                  />
                </svg>
              </div>
              <div class="p-2">
                <p>Majica kratkih rukava</p>
                <p>24.99 EUR</p>
              </div>
            </div>
            <div class="border shadow-lg rounded-lg w-64 h-full">
              <div class="relative">
                <img
                  th:src="@{/img/shirt-placeholder.webp}"
                  alt=""
                  class="rounded-t-lg h-2/3 w-full"
                />
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="w-6 h-6 absolute top-2 right-2 text-gray-400"
                >
                  <path
                    d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"
                  />
                </svg>
              </div>
              <div class="p-2">
                <p>Majica kratkih rukava</p>
                <p>24.99 EUR</p>
              </div>
            </div>
            <div class="border shadow-lg rounded-lg w-64 h-full">
              <div class="relative">
                <img
                  th:src="@{/img/shirt-placeholder.webp}"
                  alt=""
                  class="rounded-t-lg h-2/3 w-full"
                />
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="w-6 h-6 absolute top-2 right-2 text-gray-400"
                >
                  <path
                    d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"
                  />
                </svg>
              </div>
              <div class="p-2">
                <p>Majica kratkih rukava</p>
                <p>24.99 EUR</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
