<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Products | SmartPick</title>
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <th:block
      th:insert="~{fragments/successMessage :: successMessage}"
    ></th:block>
    <th:block th:insert="~{fragments/errorMessage :: errorMessage}"></th:block>
    <th:block th:insert="~{fragments/infoMessage :: infoMessage}"></th:block>
    <main>
      <div class="container flex flex-col gap-8 mx-auto p-6">
        <div class="flex gap-4 text-2xl">
          <a
            th:href="@{/products/men}"
            th:class="${highlightedCategory == 'men' ? 'text-cyan-800 font-semibold' : ''}"
            >MEN</a
          >
          <a
            th:href="@{/products/women}"
            th:class="${highlightedCategory == 'women' ? 'text-cyan-800 font-semibold' : ''}"
            >WOMEN</a
          >
          <a
            th:href="@{/products/children}"
            th:class="${highlightedCategory == 'children' ? 'text-cyan-800 font-semibold' : ''}"
            >CHILDREN</a
          >
        </div>

        <div class="flex items-center justify-between">
          <div class="flex gap-8">
            <th:block th:each="category : ${categories}">
              <a
                th:href="@{'/products/' + (${gender} ?: 'all') + '/' + ${category.categoryName.toLowerCase()}}"
                th:text="${category.categoryName}"
              ></a>
            </th:block>
          </div>
          <form th:action="@{/products/search}" method="get">
            <div class="relative text-gray-600">
              <input
                class="border border-b-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                type="search"
                name="search"
                placeholder="Search"
              />
              <button type="submit" class="absolute right-0 top-0 mt-3 mr-4">
                <svg
                  class="text-gray-600 h-4 w-4 fill-current"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  version="1.1"
                  viewBox="0 0 56.966 56.966"
                  style="enable-background: new 0 0 56.966 56.966"
                  xml:space="preserve"
                >
                  <path
                    d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
                  />
                </svg>
              </button>
            </div>
          </form>
        </div>
        <hr />
        <div class="flex items-end gap-4">
          <p class="text-3xl uppercase">
            <span th:if="${gender == null && category == null}"
              >all products</span
            >
            <span
              th:if="${gender != null && category == null}"
              th:text="${gender} + '&rsquo;s products'"
            ></span>
            <span
              th:if="${gender != null && gender != 'all' && category != null}"
              th:text="${gender} + '&rsquo;s ' + ${category}"
            ></span>
            <span
              th:if="${gender == 'all' && category != null}"
              th:text="'all ' + ${category}"
            ></span>
          </p>
          <p
            th:text="${products.size() + ' products'}"
            class="text-sm text-gray-400"
          ></p>
        </div>
        <div
          class="flex gap-8"
          x-data="{ openSort: false, openSize: false, openColor: false, openPrice: false }"
        >
          <div class="relative">
            <p
              class="flex items-center gap-1 cursor-pointer"
              @click="openSort =! openSort"
            >
              SORT
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-4 h-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m19.5 8.25-7.5 7.5-7.5-7.5"
                />
              </svg>
            </p>
            <div
              x-show="openSort"
              class="absolute left-0 p-2 z-10 bg-white rounded-lg shadow-lg w-40 mt-2"
              x-cloak
            >
              <a
                href=""
                class="block px-4 py-2 text-base hover:bg-gray-100 rounded-lg"
              >
                1
              </a>
              <a
                href=""
                class="block px-4 py-2 text-base hover:bg-gray-100 rounded-lg"
              >
                2</a
              ><a
                href=""
                class="block px-4 py-2 text-base hover:bg-gray-100 rounded-lg"
              >
                3
              </a>
            </div>
          </div>
          <div class="relative">
            <p
              class="flex items-center gap-1 cursor-pointer"
              @click="openSize =! openSize"
            >
              SIZE
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-4 h-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m19.5 8.25-7.5 7.5-7.5-7.5"
                />
              </svg>
            </p>
            <div
              x-show="openSize"
              class="absolute left-0 p-2 z-10 bg-white rounded-lg shadow-lg w-40 mt-2"
              x-cloak
            >
              <a
                href=""
                class="block px-4 py-2 text-base hover:bg-gray-100 rounded-lg"
              >
                1
              </a>
              <a
                href=""
                class="block px-4 py-2 text-base hover:bg-gray-100 rounded-lg"
              >
                2</a
              ><a
                href=""
                class="block px-4 py-2 text-base hover:bg-gray-100 rounded-lg"
              >
                3
              </a>
            </div>
          </div>
          <div class="relative">
            <p
              class="flex items-center gap-1 cursor-pointer"
              @click="openColor =! openColor"
            >
              COLOR
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-4 h-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m19.5 8.25-7.5 7.5-7.5-7.5"
                />
              </svg>
            </p>
            <div
              x-show="openColor"
              class="absolute left-0 p-2 z-10 bg-white rounded-lg shadow-lg w-40 mt-2"
              x-cloak
            >
              <a
                href=""
                class="px-4 py-2 text-base hover:bg-gray-100 rounded-lg flex items-center gap-2"
              >
                <div class="w-4 h-4 rounded-full bg-black"></div>
                Black
              </a>
              <a
                href=""
                class="px-4 py-2 text-base hover:bg-gray-100 rounded-lg flex items-center gap-2"
              >
                <div class="w-4 h-4 rounded-full bg-blue-400"></div>
                Blue
              </a>
              <a
                href=""
                class="px-4 py-2 text-base hover:bg-gray-100 rounded-lg flex items-center gap-2"
              >
                <div class="w-4 h-4 rounded-full bg-amber-700"></div>
                Brown
              </a>
              <a
                href=""
                class="px-4 py-2 text-base hover:bg-gray-100 rounded-lg flex items-center gap-2"
              >
                <div class="w-4 h-4 rounded-full bg-gray-400"></div>
                Gray
              </a>
              <a
                href=""
                class="px-4 py-2 text-base hover:bg-gray-100 rounded-lg flex items-center gap-2"
              >
                <div class="w-4 h-4 rounded-full bg-green-400"></div>
                Green
              </a>
              <a
                href=""
                class="px-4 py-2 text-base hover:bg-gray-100 rounded-lg flex items-center gap-2"
              >
                <div class="w-4 h-4 rounded-full bg-red-500"></div>
                Red
              </a>
              <a
                href=""
                class="px-4 py-2 text-base hover:bg-gray-100 rounded-lg flex items-center gap-2"
              >
                <div class="w-4 h-4 rounded-full bg-white border"></div>
                White</a
              >
            </div>
          </div>
          <div class="relative">
            <p
              class="flex items-center gap-1 cursor-pointer"
              @click="openPrice =! openPrice"
            >
              PRICE
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-4 h-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m19.5 8.25-7.5 7.5-7.5-7.5"
                />
              </svg>
            </p>
            <div
              x-show="openPrice"
              class="absolute left-0 p-2 z-10 bg-white rounded-lg shadow-lg w-40 mt-2"
              x-cloak
            >
              <a
                href=""
                class="block px-4 py-2 text-base hover:bg-gray-100 rounded-lg"
              >
                1
              </a>
              <a
                href=""
                class="block px-4 py-2 text-base hover:bg-gray-100 rounded-lg"
              >
                2</a
              ><a
                href=""
                class="block px-4 py-2 text-base hover:bg-gray-100 rounded-lg"
              >
                3
              </a>
            </div>
          </div>
        </div>
        <p th:if="${#lists.isEmpty(products)}" class="text-center">
          No products available.
        </p>
        <div class="grid md:grid-cols-5 gap-8">
          <div
            th:each="product : ${products}"
            class="border shadow-lg rounded-lg h-full"
          >
            <a
              th:href="'/products/' + ${product.gender.toLowerCase()} + '/' + ${product.category.categoryName.toLowerCase()} + '/' + ${product.productId}"
            >
              <div class="relative">
                <img
                  th:src="@{/img/shirt-placeholder.webp}"
                  alt=""
                  class="rounded-t-lg h-2/3 w-full"
                />
                <form action="/toggleSaveProductForUser" method="post">
                  <input
                    type="hidden"
                    name="productId"
                    th:value="${product.productId}"
                  />

                  <button type="submit">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      th:style="'color: ' + (${savedStatusMap[product.productId]} ? '#155E75' : '#9CA3AF')"
                      class="w-6 h-6 absolute top-2 right-2"
                    >
                      <path
                        d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"
                      />
                    </svg>
                  </button>
                </form>
              </div>
              <div class="p-2">
                <p th:text="${product.name}"></p>
                <p th:text="${product.price + ' EUR'}"></p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </main>
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
