<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title th:text="${product.name} + ' | SmartPick'"></title>
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <th:block
      th:insert="~{fragments/successMessage :: successMessage}"
    ></th:block>
    <th:block th:insert="~{fragments/errorMessage :: errorMessage}"></th:block>
    <th:block th:insert="~{fragments/infoMessage :: infoMessage}"></th:block>
    <main>
      <div class="container flex flex-col gap-8 mx-auto p-6">
        <nav class="text-gray-600">
          <a href="/">Home</a>
          /
          <a href="/products">Products</a>
          /
          <a
            th:href="'/products/' + ${product.gender.toLowerCase()}"
            th:text="${product.gender}"
          ></a>
          /
          <a
            th:href="'/products/' + ${product.gender.toLowerCase()} + '/' + ${product.category.categoryName.toLowerCase()}"
            th:text="${product.category.categoryName}"
          ></a>
        </nav>
        <div class="grid md:grid-cols-2 gap-36">
          <img th:src="@{/img/shirt-placeholder.webp}" alt="" />
          <div class="flex flex-col gap-8 text-xl">
            <p th:text="${product.name}" class="text-3xl font-semibold"></p>
            <p th:text="${product.price + ' EUR'}"></p>
            <p th:text="${'Color: ' + product.color}"></p>
            <p th:text="${'Size: ' + product.size}"></p>
            <p th:text="${'Description: ' + product.description}"></p>
            <form action="/putProductInShoppingCartForUser" method="post">
              <input
                type="hidden"
                name="productId"
                th:value="${product.productId}"
              />
              <button
                type="submit"
                class="button flex justify-center gap-2 w-full"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
                  />
                </svg>
                Add to cart
              </button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
