<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>User Dashboard | SmartPick</title>
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <th:block
      th:insert="~{fragments/successMessage :: successMessage}"
    ></th:block>
    <th:block th:insert="~{fragments/errorMessage :: errorMessage}"></th:block>
    <main>
      <div class="container flex flex-col gap-8 mx-auto p-6">
        <h1>User Dashboard</h1>
        <hr />
        <h2>Recommended for You</h2>
        <h2>Order History</h2>
        <div class="grid md:grid-cols-2 gap-8">
          <div
            th:each="order : ${previousOrders}"
            class="border shadow-lg rounded-lg h-full"
          >
            <div class="flex flex-col gap-4 p-2">
              <div class="grid gap-4">
                <p
                  th:text="${'Order ID: ' + order.orderId}"
                  class="text-lg font-semibold"
                ></p>
                <div class="flex gap-8 text-gray-600">
                  <div>
                    <p class="font-semibold">Order date</p>
                    <p
                      th:text="${#dates.format(order.orderDate, 'dd.MM.yyyy HH:mm')}"
                    ></p>
                  </div>
                  <div>
                    <p class="font-semibold">Order total</p>
                    <p th:text="${order.orderTotal + ' EUR'}"></p>
                  </div>
                  <div>
                    <p class="font-semibold">Order status</p>
                    <p>Paid</p>
                  </div>
                </div>
              </div>
              <div class="flex gap-2">
                <div
                  th:each="orderItem : ${order.orderItems}"
                  class="border rounded-lg p-2 w-36"
                >
                  <a
                    th:href="'/products/' + ${orderItem.product.gender.toLowerCase()} + '/' + ${orderItem.product.category.categoryName.toLowerCase()} + '/' + ${orderItem.product.productId}"
                  >
                    <img src="img/shirt-placeholder.webp" alt="" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
